/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
 * Use relative sizes for images
 */

img, embed, object, video {
  max-width: 100%;
}

/*
 * Base
 */

body {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #444;
}

h1 {
	font-size: 2em;
}

h2 {
	margin: 1em 0;
	font-size: 1.5em;
}

p {
	margin: 1em 0;
	font-size: 1em;
	line-height: 1.5;
}

a {
	color: #0483AD;
}

/*
 * Structure
 */

.wrapper {
	max-width: 50em;
	margin: 0 auto;
}

	@media screen and (max-width: 52em) {
		.wrapper {
			padding: 0 1em;
		}
	}

.header {
	margin-top: 1.5em;
}

.github-link {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 1.4em;
	padding-right: 2em;
}

footer {
	margin: 2em 0;
}

footer li {
	list-style: disc;
	line-height: 1.5;
}